*{
    font-family: monospace;
}
header{
    background-color:#293241;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

body{margin: 0;min-width: 920px;}

header img:first-child{width: 50px; height: 50px;}

header nav a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}

nav a{
    padding: 5px 10px;
}

nav a:hover{
    color:#ee6c4d
}

nav button{
    background-color: #bcf6f9;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    padding: 8px 12px;
}

nav button:last-child:hover{
    background-color:#e0fbfc ;
}

header div:first-child{
    display: flex;
    align-items: center;
    color: white;
    gap:10px
}


body section:first-of-type{
    display: flex;
    justify-content: center;
    gap:10vw;
    align-items: center;
    padding: 20px;
    background-color: #293241;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

body section:first-of-type div h1{color: white;font-size: 1.7rem;}
 
.paragraphe{
    width: 500px;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 40px;
}

.image-hero{
    border:4px dashed pink;
    border-radius: 20px 20px 70px 20px;
    animation:borderChange 15s ;
    box-shadow: -30px -30px 1000px pink;
}

@keyframes borderChange {
    0%{
        border-color: green;
        box-shadow: -30px -30px 1000px green;
    }
    10%{
        border-color: red;box-shadow: -30px -30px 1000px red;
    }
    20%{
        border-color: yellow;box-shadow: -30px -30px 1000px yellow;
    }
    30%{
        border-color: orange;box-shadow: -30px -30px 1000px orange;
    }
    40%{
        border-color: orangered;box-shadow: -30px -30px 1000px orangered;
    }
    50%{
        border-color: aqua;box-shadow: -30px -30px 1000px aqua;
    }
    60%{
        border-color: gray;box-shadow: -30px -30px 1000px gray;
    }
    60%{
        border-color: blue;box-shadow: -30px -30px 1000px blue;
    }
    70%{
        border-color: pink;box-shadow: -30px -30px 1000px pink;
    }
    80%{
        border-color: violet;box-shadow: -30px -30px 1000px white;
    }
    90%{
        border-color: purple;box-shadow: -30px -30px 1000px purple;
    }
    100%{
        border-color:#ee6c4d ;box-shadow: -30px -30px 1000px rgb(148, 52, 52)
    }
}

.image-hero:hover{
    border-color: orange;
}

.search input{
    position: relative;
    padding: 10px 122px 10px 10px;
    border-radius: 15px ;
    border:none;
    width: 200px;
    height: 24px;
    border: 2px dashed rgb(0, 0, 0);
}

.search button{
    position: relative;
    right: 24%;
    padding: 10px 16px;
    border-radius: 5px 15px 15px 5px;
    border: 2.5px solid black;
    height: 44px;
    font-weight: bold;
    background-color: #ee6c4d;
    color: rgb(255, 255, 255);
    
}

.search input:focus{border: none;}

body section:first-of-type div h1{
   margin-bottom: 30px;
}


.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.trending_games{padding: 40px 15px;}

.global-text h1{margin-top: 0px;}

.view_button{background-color: #283618; color: white;border: 3px solid black;border-radius: 15px;padding: 8px 20px;}

.view_button:hover{background-color:#606c38 ;}

.shop-icon img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 2px;
}

.shop-icon { border-radius: 15px;background-color: white;padding: 0 20px;border:1px  solid black;margin-top: -10px;}

.shop-icon:hover{background-color: rgba(138, 194, 231, 0.5);}

.card{
    border: 2px solid black;
    border-radius: 15px;
    min-width: 10%;
    display: flex;
    flex-direction: column;
    gap:15px;
    background-color: #ededed;
}

.card img:first-child{border-top-left-radius: 15px;border-top-right-radius: 15px;}


.cards-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}



.each-cards{
    padding: 40px;
    background-color: #ededed;
    border-radius: 70px;
    margin: 0px 30px ;
}

.card-top-game img{border-radius: 25px;border:1px solid black}
.card-top-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    border-right: 1px dashed black;
}

.card-top-game p {
    margin-top: 9px;
    margin-bottom: -12px;
}

.card-top-game button{
    background-color: #293241;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}

#top-games div:last-child{
    border: none;
}




.top-categories{padding: 10px; margin-top: 40px;}
.top-categories div:first-child{
    text-align: center;
    margin-bottom: 30px;
}

.top-categories div:first-child h3{
    margin-bottom: -10px;
}

.top-categories div:last-child img{
    border-radius: 15px;
    border-top: 1px dashed black;
    width: 100%;
    height: auto;
}

.top-ctg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    border:1px dashed black;
    background-color: #ededed;
    overflow: hidden;
    height: 260px;
    transition: transform 1s ease;
}

.top-ctg:hover {
    transform: scale(1.1);
}

footer{
    padding: 20px;
    margin-top: 30px;
    color: white;
    text-align: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: inset 10px 100px 1000px rgb(12, 0, 44);

}

